<div id="container">
  <h1>Privacy Policy</h1>
  <p>EPIC SWAP reserves the right to change the privacy policy and terms of service at any time. We will keep your personal information private and will not sell your information to any third parties. </p>

  <h2>Terms of Service</h2>
  <p>By visiting this site you agree to abide by our terms and conditions. You agree to not maliciously attack our site and to uphold high moral standards in your tireless pursuit of epic skills</p>
</div>