  <div id="map"></div>
  <%= render '/shared/map_filter' %>

  <div id="filter">
    SEARCH
  </div>
<script id="userMarkerContentTemplate" type="text/x-handlebars-template">
    <img src="{{profileImage}}" alt={{name}}><br>
    <a href="/users/{{userId}}">{{Name}}</a></b><br>
    {{Tagline}}</br>
    <p>I can teach:</p>
    <ul>
      {{#skillList}}
      <li>{{.}}</li>
      {{/skillList}}
    </ul>
</script>
