  <div id="map"></div>
  <%= render '/shared/map_filter' %>

  <div id="filter">
    SEARCH
  </div>

<%# <!-- TEMPLATES --> %>

<script id="userMarkerContentTemplate" type="text/x-handlebars-template">
    <img src="{{profileImage}}" alt={{name}}><br>
    <a href="/users/{{userId}}">{{Name}}</a></b><br>
    <p>TAGLINE</p>
    {{Tagline}}</br>
    <p>I CAN TEACH</p>
    <ul>
      {{#skillList}}
      <li>{{.}}</li>
      {{/skillList}}
    </ul>
</script>
