  <div id="map"></div>
  <%= render '/shared/map_filter' %>

  <div id="filter">
    SEARCH
  </div>
<script id="userMarkerContentTemplate" type="text/x-handlebars-template">
    <img class="map-user-image" src="{{profileImage}}" alt={{name}}><br>
    <div class="map-user-name"><a href="/users/{{userId}}">{{Name}}</a></div>
    {{Tagline}}
    <hr>
    <div class="teach-tagline">I can teach you:</div>
      {{#skillList}}
      <div class="popup-skills">{{.}}</div>
      {{/skillList}}
</script>
