<div id="header">
  <object id="logo" class="header" type="image/svg+xml" data="assets/epicswap.svg"></object>
  <img id="menu" class="header" src="assets/menu.svg">
</div>
<div id="map"></div>
<div id="filter">
  FILTER
</div>

<%# <!-- TEMPLATES --> %>

<script id="userMarkerContentTemplate" type="text/x-handlebars-template">
    <img src="{{profileImage}}" alt={{name}}><br>
    <a href="/users/{{userId}}">{{Name}}</a></b><br>
    <p>TAGLINE</p>
    {{Tagline}}</br>
    <p>I CAN TEACH</p>
    <ul>
      {{#skillList}}
      <li>{{.}}</li>
      {{/skillList}}
    </ul>
</script>