<div class='initial edit-profile'>
  <p>Quick, Three Step Process To Get Your EPIC SWAP Account Setup</p>
  <p>Step 1: Enter Your Address, Tagline, and Description of Yourself.</p>
  <%= render 'shared/edit_profile' %>
</div>
<div class='initial add-skill hidden'>
  <p>Step 2: Add a Skill You Can Teach.</p>
  <%= render 'shared/skills_form' %>
</div>

<div class='initial add-interests hidden'>
  <p>Step 3: Add an Skill You Want to Learn.</p>
  <%= render 'shared/interests_form' %>
</div>