<div class='initial edit-profile'>
  <%= render 'shared/edit_profile' %>
</div>
<div class='initial add-skill'>
  <%= render 'shared/skills_form' %>
</div>

<div class='initial add-interests'>
  <%= render 'shared/interests_form' %>
</div>