<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <link rel="stylesheet" type="text/css" href="assets/main.css">

    <title>EPIC SWAP</title>
  </head>

  <body class="welcome">
    <div id="container">
      <div id="site_intro_container">
        <div id="site_intro" class="stripe">
          <div id="site_name" class="heading">EPIC SWAP</div>
          <object id="logo" class="welcome" type="image/svg+xml" data="assets/epicswap.svg"></object>
          <div id="tagline" class="heading">A Place for Real People</div>
        </div>
      </div>
      <div id="login_container">
        <div id="login" class="stripe">
          <div id="login_text" class="heading">Login</div>
          <%= link_to image_tag("fb.svg"), "/auth/facebook", id: "facebook_button", class: "login_button" %>
          <%= link_to image_tag("linkedin.svg"), "/auth/linkedin", id: "linkedin_button", class: "login_button" %>
        </div>
      </div>
    </div>
  </body>
</html>
