<div id="container">

  <h2>All Skills</h2>

  <table id="skills">
    <% @skills.each do |skill| %>
      <tr>
        <td><%= link_to skill.name, skill_path(skill) %></td>
        <td><%= pluralize(skill.users.count, 'teacher') %></td>
      </tr>
    <% end %>
  </table>
</div>
