<ul id="dropdown_menu">
    <li><%= link_to 'Map', root_path %></li>
  <% if current_user %>
    <li><%= link_to 'My Profile', user_path(current_user) %></li>
    <li><%= link_to 'Sign Out', signout_path %></li>
  <% end %>
</ul>
