<div id="header">
  <%= link_to image_tag("epicswap.png", id:"header-logo", class: "header"), root_path %>

  <%= link_to current_user.name, user_path(current_user), id: 'header_user_name' if current_user %>
   <span id="menu_dropdown"><%= image_tag("menu.png", id: "menu", class: "header") %></span>

  <%= render 'shared/dropdown_menu' %>
</div>
