<p>Add an interest</p>
<ul>
  <%= form_for [@user, @interest], remote: true do |f| %>
    <li><%= f.label :name, 'Interest' %>
      <%= f.text_field :name, required: true %></li>
      <li><%= f.submit %></li>
  <% end %>
</ul>
