<div id="map_filter_menu">
  <div id="categories">
    <% @categories.each do |category|  %>
      <span class="category" id="category_<%= category.name %>"><%=link_to category.name, "#", data: {title: "#{category.name}"}, class: "filter_link" %></span>
    <% end %>
  </div>
</div>
