<div id="map_filter_menu">
  <ul id='filter_categories'>
    <% @categories.each do |category|  %>
      <li id="catetgory_<%= category.id %>"><%=link_to category.name, "#", data: {title: "#{category.name}"}, class: 'filter_link' %></li>
    <% end %>
  </ul>
</div>