<span>REP: <span id="user-reputation"><%= @user.reputation %></span></span>

<% if reputation_given?(current_user, @user) %>
  <p>You have already added to <%= @user.name %>'s reputation.</p>
<% else %>
  <%= link_to "+♥", user_reputations_path(@user), class: "new_reputation", id: "rep-plus-button", method: :post, remote: true %>
<% end %>