<div class="user-header">My Interests</div>
<ul class='my-interests'>
  <% @user.interests.each do |interest| %>
    <li id="interest_<%= interest.id %>">
      <%= interest.name %>
      <% unless corresponding_skill(interest.name).nil?  %>
        (<%= link_to num_users_by_skills(interest.name),skill_path(corresponding_skill(interest.name))  %>)
      <% end %>
      <%= link_to 'delete', user_interest_path(@user, interest), remote: true, :method => :delete, class: 'delete-interest', id: "interest-#{interest.id}", :data => { :id => "#{interest.id}"} if current_user == @user %>
    </li>
  <% end %>
</ul>