<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= link_to current_user.name, user_path(current_user) %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %><br>
    <%= link_to "Sign in with Linked In", "/auth/linkedin", id: "Sign_in" %>
  <% end %>
</div>