<div class="user-header">My Interests</div>
<table class='my-interests'>
  <% @user.interests.each do |interest| %>
    <%= render partial: "shared/interest", locals: { interest: interest } %>
  <% end %>
</table>