<div id="container">

  <h2>All Interests</h2>

  <table id="interests">
    <% @interests.each do |interest| %>
      <tr>
        <td><%= link_to interest.name, interest_path(interest) %></td>
        <td><%= pluralize(interest.users.count, 'teacher') %></td>
      </tr>
    <% end %>
  </table>

</div>
