@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
body {
  background-color: black;
  font-family: "Avenir";
  height: 98vh;
  width: 98vw;
  color: white;
  overflow: hidden;
  background-attachment: fixed; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: yellow; }
  a:hover, a:active {
    color: red; }

#container {
  position: relative;
  overflow: scroll;
  height: 91vh; }

.heading {
  font-family: "Lato"; }

#logo, #menu {
  height: 5vh; }

input, textarea, select {
  background-color: #595959;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
  border-radius: 0.5vw;
  border-width: 0.25vw;
  outline: none;
  border-color: white; }

textarea:hover, textarea:focus, input:hover, input:focus {
  border-color: #0085ef;
  box-shadow: 0 0 1vw #0085ef;
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -ms-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s; }

input[type=submit] {
  padding: 0.5vh 1vw;
  margin-top: 0.5vh; }

td {
  padding: 0.5vh; }

.hidden {
  display: none; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.table_header {
  font-weight: bold;
  padding-right: 2vw; }

.ontop {
  z-index: 1000; }

#epicswap_logo_top {
  fill: #000000; }

#epicswap_logo_bottom {
  fill: #0085ef; }

#logo.welcome {
  height: 10vh; }

#site_intro_container, #login_container {
  text-align: center;
  position: fixed;
  left: 0vw; }

#site_intro_container {
  top: 0vh; }

#login_container {
  bottom: 0vh; }

#site_name {
  font-size: 6vh;
  font-weight: 900;
  opacity: 1; }

.login_button {
  height: 8vh;
  margin-left: 1vw;
  margin-right: 1vw; }

#tagline, #login_text {
  text-transform: uppercase;
  font-size: 3.5vh;
  letter-spacing: 0.4vw; }

#login_text {
  font-size: 4vh;
  margin-bottom: 1vh; }

#site_name, #tagline, #login_text {
  color: black; }

#map {
  height: 98vh;
  overflow: hidden; }

.leaflet-bar {
  background-color: gray; }

#add_interest, #add_skill {
  margin-left: 2vw; }

#interest-form, #skill-form {
  margin-top: 2vh; }

.user-name {
  font-size: 120%;
  font-weight: bold; }

.tagline {
  font-style: italic;
  font-size: 90%;
  padding: 0.5vh 0; }

.description {
  font-size: 85%; }

.user-header {
  font-weight: bold;
  font-size: 115%;
  padding-top: 3vh; }

#user-profile-table {
  vertical-align: middle; }

#user-image-cell {
  text-align: center;
  margin-right: 2vw; }

#user-image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-right: 1vw; }

#edit-profile-link, #delete-profile-link {
  text-align: right;
  padding-right: 2.5vw; }

#add_interest_link, #add_skill_link {
  padding-left: 2vw;
  font-size: 85%;
  font-style: italic; }

#new_skill {
  padding-left: 3vw; }

#new_interest {
  padding-left: 3vw; }

a.delete-skill, a.delete-in {
  color: red;
  font-style: italic;
  font-size: 80%;
  padding-left: 1vw; }

ul {
  list-style: none;
  padding-left: 2vw; }

#header, #filter {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5); }

#header {
  height: 5vh; }

#logo.header {
  float: left; }

#menu.header {
  float: right; }

#filter {
  height: 4vh;
  position: fixed;
  bottom: 0vh;
  font-size: 3.5vh;
  cursor: pointer;
  cursor: hand; }

#dropdown_menu {
  position: absolute;
  background-color: white;
  width: 4vw;
  z-index: 1000;
  list-style: none;
  float: right;
  top: 5vh;
  right: 1vw;
  text-align: center; }
  #dropdown_menu li:hover {
    background-color: #444444; }
  #dropdown_menu li a {
    color: black;
    text-decoration: none; }
    #dropdown_menu li a:hover {
      color: white; }

#header_user_name {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 4vh; }

#map_filter_menu {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
  position: absolute; }

ul#filter_categories {
  list-style: none; }

ul#filter_categories a {
  text-decoration: none; }

span#menu_dropdown {
  cursor: pointer; }

@media all and (orientation: portrait) {
  #container, #site_intro_container, #login_container, #header, #map, #filter, #map_filter_menu {
    width: 96vw;
    margin: 1vw;
    padding: 1vw; }

  body.welcome {
    background-image: url("/assets/skating_portrait.jpg");
    -webkit-background-size: 100vh;
    -moz-background-size: 100vh;
    -ms-background-size: 100vh;
    -o-background-size: 100vh;
    background-size: 100vh;
    background-position: center; }

  #site_intro_container, #login_container {
    background-color: rgba(255, 255, 255, 0.5); }

  #map_filter_menu {
    bottom: 7vh;
    height: 81vh; } }
@media all and (orientation: landscape) {
  #container, #site_intro_container, #login_container, #header, #map, #filter, #map_filter_menu {
    width: 98vw;
    margin: 0.5vw;
    padding: 0.5vw; }

  body.welcome {
    background-image: url("/assets/skating_landscape.jpg");
    -webkit-background-size: auto 100vh;
    -moz-background-size: auto 100vh;
    -ms-background-size: auto 100vh;
    -o-background-size: auto 100vh;
    background-size: auto 100vh;
    background-position: top right; }

  #site_intro_container, #login_container {
    width: 68.6vw;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 20%, transparent 100%);
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0.5) 40%, transparent 100%);
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.5) 40%, transparent 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 40%, transparent 100%); }

  .stripe {
    width: 39.2vw; }

  #map_filter_menu {
    bottom: 7vh;
    height: 81.5vh; } }
