@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
body {
  background-color: black;
  height: 98vh;
  width: 98vw;
  font-family: "Lato";
  color: white;
  font-size: 3vh;
  overflow: hidden;
  background-attachment: fixed; }

h1, h2, h3, h4, h5, h6 {
  text-align: center; }

table {
  margin: 0 auto; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: #0085ef; }
  a:hover, a:active {
    color: red; }

#container {
  position: relative;
  overflow: scroll;
  height: 91vh; }

.heading {
  font-family: "Lato"; }

#logo, #menu {
  height: 5vh; }

input, textarea, select {
  background-color: #595959;
  -webkit-border-radius: 0.2vw;
  -moz-border-radius: 0.2vw;
  -ms-border-radius: 0.2vw;
  -o-border-radius: 0.2vw;
  border-radius: 0.2vw;
  border-width: 0.05vw;
  outline: none;
  border-color: white;
  padding: 0.2vh 0.8vw;
  width: 30vw; }

textarea:hover, textarea:focus, input:hover, input:focus {
  border-color: #0085ef;
  box-shadow: 0 0 0.5vw #0085ef;
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -ms-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s; }

input[type=submit] {
  padding: 0.5vh 1vw;
  margin-top: 0.5vh;
  width: initial; }

td {
  padding: 0.5vh; }

.hidden {
  display: none; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.table_header {
  font-weight: 300;
  padding-right: 2vw; }

#logo.welcome {
  height: 10vh; }

.logo {
  height: 5vh;
  padding: 0 3vw; }

#site_intro_container, #login_container {
  text-align: center;
  position: fixed;
  left: 0vw; }

#site_intro_container {
  top: 0vh; }

#login_container {
  bottom: 0vh; }

#site_name {
  font-size: 6vh;
  font-weight: 900;
  opacity: 1; }

.login_button {
  height: 8vh;
  margin-left: 1vw;
  margin-right: 1vw; }

#tagline, #login_text {
  text-transform: uppercase;
  font-size: 3.5vh;
  letter-spacing: 0.4vw; }

#login_text {
  font-size: 4vh;
  margin-bottom: 1vh; }

#site_name, #tagline, #login_text {
  color: black; }

#more-info-link {
  font-wize: 3vh; }

#more-info {
  margin-top: 1.75vh;
  display: none;
  color: black;
  font-size: 3vh;
  font-weight: 300;
  letter-spacing: 0.1vw; }

a#more-info-link:link,
a#more-info-link:visited {
  color: #0085ef; }

a#more-info-link:hover,
a#more-info-link:active {
  color: #2da2ff; }

#map {
  height: 98vh;
  overflow: hidden; }

.leaflet-control-zoom, .leaflet-bar, .leaflet-control, .leaflet-top, .leaflet-bottom {
  z-index: 2; }

.leaflet-bar {
  background-color: gray; }

.leaflet-popup-tip {
  border-top-color: rgba(70, 73, 78, 0.7); }

.leaflet-popup-content-wrapper {
  text-align: center;
  background-color: rgba(70, 73, 78, 0.85);
  font-weight: 100;
  letter-spacing: 0.1vw;
  font-size: 2.5vh;
  line-height: 2.4vh;
  color: #c9c9c9; }

.map-user-image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 8vh; }

.map-user-name {
  font-size: 110%;
  padding-bottom: 0.2vh; }

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0));
  background-image: -moz-linear-gradient(left, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0));
  background-image: -ms-linear-gradient(left, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0));
  background-image: -o-linear-gradient(left, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0));
  background-image: linear-gradient(left, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0)); }

.teach-tagline {
  text-transform: capitalize;
  font-weight: 400; }

.popup-skills {
  text-transform: capitalize; }

#map_filter_menu {
  text-align: center;
  display: table; }

#categories {
  display: table-cell;
  vertical-align: middle; }

.category {
  padding: 1vh 2vw;
  font-weight: 300;
  font-size: 10vh;
  line-height: 15vh; }

#category_language a:link,
#category_language a:visited,
#category_language a:hover,
#category_language a:active {
  color: #516fd2; }

#category_sport a:link,
#category_sport a:visited,
#category_sport a:hover,
#category_sport a:active {
  color: #f39c12; }

#category_finance a:link,
#category_finance a:visited,
#category_finance a:hover,
#category_finance a:active {
  color: #2ecc71; }

#category_arts a:link,
#category_arts a:visited,
#category_arts a:hover,
#category_arts a:active {
  color: #9b59b6; }

#category_fitness a:link,
#category_fitness a:visited,
#category_fitness a:hover,
#category_fitness a:active {
  color: #e67e22; }

#category_technology a:link,
#category_technology a:visited,
#category_technology a:hover,
#category_technology a:active {
  color: #1abc9c; }

#category_other a:link,
#category_other a:visited,
#category_other a:hover,
#category_other a:active {
  color: #34495e; }

a.filtered_off:link,
a.filtered_off:visited,
a.filtered_off:hover,
a.filtered_off:active {
  color: #a1a1a1 !important;
  text-decoration: line-through; }

#user-page {
  margin: 0 auto;
  background-color: #333333;
  padding: 3vh 2vw;
  font-weight: 100;
  text-align: center; }

#user-profile {
  margin: 0 auto; }

.my-skills, .my-interests {
  margin: 0 auto;
  width: 70vw; }

.my-skills td, .my-interests td {
  width: 33% !important; }

#interest-form, #skill-form {
  margin-top: 2vh; }

.user-name {
  font-size: 120%;
  font-weight: bold; }

.tagline {
  font-size: 90%;
  padding: 0.5vh 0;
  font-variant: small-caps; }

.description {
  font-size: 85%; }

#bio {
  vertical-align: top; }

.user-header {
  font-weight: 400;
  font-size: 115%;
  padding-top: 3vh;
  text-align: center; }

#user-image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 13vh; }

#rep-plus-button {
  -webkit-border-radius: 0.25vw;
  -moz-border-radius: 0.25vw;
  -ms-border-radius: 0.25vw;
  -o-border-radius: 0.25vw;
  border-radius: 0.25vw;
  border-width: 0.1vw;
  padding: 0.25vh 0.5vw;
  margin-top: 0; }

#add_interest_link, #add_skill_link, #see-all-skills-link, #see-all-interests-link {
  font-size: 85%; }

#see-all-skills-link, #see-all-interests-link {
  padding-right: 1vw; }

#add_skill_link, #add_interest_link {
  padding-left: 1vw; }

#user-functions {
  font-size: 75%; }

#new_skill, #new_interest {
  text-align: left; }

.skill-name, .interest-name {
  text-align: right; }

.delete-skill, .delete-interest {
  text-align: left; }

a.delete-skill, a.delete-interest {
  color: red;
  font-style: italic;
  font-size: 80%; }

ul {
  list-style: none;
  padding-left: 2vw; }

#map_button {
  margin-top: 2vh;
  background-color: #89cbff;
  border: none;
  font-weight: 300;
  padding: 0.5vh 2.5vw; }

#first-time-user-page {
  margin: 0 auto; }

#header, #filter {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5); }

#header {
  height: 5vh;
  text-align: center; }

#header-logo {
  float: left;
  height: 5vh; }

#menu.header {
  float: right; }

#filter {
  height: 6vh;
  position: fixed;
  bottom: 0vh;
  font-size: 5vh;
  cursor: pointer;
  cursor: hand;
  font-weight: 100; }

#dropdown_menu {
  position: absolute;
  background-color: white;
  z-index: 4;
  list-style: none;
  float: right;
  right: 1vw;
  text-align: center;
  padding: 0.5vh 3vw;
  font-size: 2.5vh;
  white-space: nowrap; }
  #dropdown_menu li {
    padding: 0.5vh 3vw; }
  #dropdown_menu li:hover {
    background-color: #444444; }
  #dropdown_menu li a {
    color: black;
    text-decoration: none; }
    #dropdown_menu li a:hover {
      color: white; }

#header_user_name {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 4vh;
  font-weight: 100; }

#map_filter_menu {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute; }

ul#filter_categories {
  list-style: none; }

ul#filter_categories a {
  text-decoration: none; }

span#menu_dropdown {
  cursor: pointer; }

@media all and (orientation: portrait) {
  #container, #site_intro_container, #login_container, #header, #map, #filter, #map_filter_menu {
    width: 96vw;
    margin: 1vw;
    padding: 1vw; }

  #dropdown_menu {
    top: 7vh; }

  body.welcome {
    background-image: url("/assets/skating_portrait.jpg");
    -webkit-background-size: 100vh;
    -moz-background-size: 100vh;
    -ms-background-size: 100vh;
    -o-background-size: 100vh;
    background-size: 100vh;
    background-position: center; }

  #site_intro_container, #login_container {
    background-color: rgba(255, 255, 255, 0.5); }

  #map_filter_menu {
    bottom: 8vh;
    height: 82vh;
    z-index: 3; }

  #user-page {
    width: 85vw; }

  #user-profile {
    width: 100%; } }
@media all and (orientation: landscape) {
  #container, #site_intro_container, #login_container, #header, #map, #filter, #map_filter_menu {
    width: 98vw;
    margin: 0.5vw;
    padding: 0.5vw; }

  #dropdown_menu {
    top: 9vh; }

  body.welcome {
    background-image: url("/assets/skating_landscape.jpg");
    -webkit-background-size: auto 100vh;
    -moz-background-size: auto 100vh;
    -ms-background-size: auto 100vh;
    -o-background-size: auto 100vh;
    background-size: auto 100vh;
    background-position: top right; }

  #site_intro_container, #login_container {
    width: 68.6vw;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 20%, transparent 100%);
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0.5) 40%, transparent 100%);
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.5) 40%, transparent 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 40%, transparent 100%); }

  .stripe {
    width: 39.2vw; }

  #map_filter_menu {
    bottom: 8vh;
    height: 79.5vh;
    z-index: 3; }

  .category {
    font-size: 12vh; }

  #user-page {
    width: 65vw; }

  #user-profile {
    width: 75%; }

  .my-skills, .my-interests {
    margin-left: 1vw;
    margin: 0 auto;
    width: 90%; } }
@media only screen and (max-device-width: 568px) {
  body {
    font-size: 10vh; } }
